{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="artCategory">
	<div class="artCategory-title">
		<h2>Feature</h2>
		<p>あなたのテイストは？</p>
	</div>
	<div class="artCategory-flex">
		<div class="img-wrapper">
			<img src="https://casie.jp/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMThUQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a7ee42a32dbffc15c8bbddd3c7eab29724aba408/2022%E5%B9%B4%E7%A7%8B%E3%82%B3%E3%83%B3%E3%83%86%E3%82%B9%E3%83%88%20(1).jpg" alt="">
		</div>
		<div class="img-wrapper">
			<img src="https://casie.jp/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMThUQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a7ee42a32dbffc15c8bbddd3c7eab29724aba408/2022%E5%B9%B4%E7%A7%8B%E3%82%B3%E3%83%B3%E3%83%86%E3%82%B9%E3%83%88%20(1).jpg" alt="">
		</div>
		<div class="img-wrapper">
			<img src="https://casie.jp/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMThUQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a7ee42a32dbffc15c8bbddd3c7eab29724aba408/2022%E5%B9%B4%E7%A7%8B%E3%82%B3%E3%83%B3%E3%83%86%E3%82%B9%E3%83%88%20(1).jpg" alt="">
		</div>
		<div class="img-wrapper">
			<img src="https://casie.jp/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMThUQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a7ee42a32dbffc15c8bbddd3c7eab29724aba408/2022%E5%B9%B4%E7%A7%8B%E3%82%B3%E3%83%B3%E3%83%86%E3%82%B9%E3%83%88%20(1).jpg" alt="">
		</div>
		<div class="img-wrapper">
			<img src="https://casie.jp/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMThUQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a7ee42a32dbffc15c8bbddd3c7eab29724aba408/2022%E5%B9%B4%E7%A7%8B%E3%82%B3%E3%83%B3%E3%83%86%E3%82%B9%E3%83%88%20(1).jpg" alt="">
		</div>
		<div class="img-wrapper">
			<img src="https://casie.jp/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMThUQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a7ee42a32dbffc15c8bbddd3c7eab29724aba408/2022%E5%B9%B4%E7%A7%8B%E3%82%B3%E3%83%B3%E3%83%86%E3%82%B9%E3%83%88%20(1).jpg" alt="">
		</div>
		<div class="img-wrapper">
			<img src="https://casie.jp/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMThUQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a7ee42a32dbffc15c8bbddd3c7eab29724aba408/2022%E5%B9%B4%E7%A7%8B%E3%82%B3%E3%83%B3%E3%83%86%E3%82%B9%E3%83%88%20(1).jpg" alt="">
		</div>
	</div>
	<div class="artCategory-button">
	    <a href="/products/list">作品一覧を見る</a>
	</div>
</div>
