{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="ec-headerNaviRole">
    <div class="ec-headerNaviRole__left">
        <div class="ec-headerNaviRole__search">
            <a href="/">タスタスアートギャラリーカフェ</a>
        </div>
        <div class="ec-headerRole__navSP">
            {{ include('Block/nav_sp.twig') }}
        </div>
    </div>
	<div class="ec-headerNaviRole__center">
        <div class="ec-headerNaviRole__nav">
			<ul class="gnav main-wrapper">
				<li>
				<a href="">作品</a>
				<div class="megamenu">
				<ul class="megamenu-inner main-wrapper">
					<li>
						<a href="/products/list">
						<div class="megamenu-inner-text"><img src="https://techmemo.biz/demo/megamenu/images/megamenu-inner1-1.png">一覧</div>
						</a>
					</li>
					<li>
						<a href="">
						<div class="megamenu-inner-text"><img src="https://techmemo.biz/demo/megamenu/images/megamenu-inner1-1.png">~50cm</div>
						</a>
					</li>
					<li>
						<a href="">
						<div class="megamenu-inner-text"><img src="https://techmemo.biz/demo/megamenu/images/megamenu-inner1-1.png">50~150cm</div>
						</a>
					</li>
					<li>
						<a href="">
						<div class="megamenu-inner-text"><img src="https://techmemo.biz/demo/megamenu/images/megamenu-inner1-1.png">150cm~</div>
						</a>
					</li>
					<li>
						<a href="">
						<div class="megamenu-inner-text"><img src="https://techmemo.biz/demo/megamenu/images/megamenu-inner1-1.png">~5000円</div>
						</a>
					</li>
					<li>
						<a href="">
						<div class="megamenu-inner-text"><img src="https://techmemo.biz/demo/megamenu/images/megamenu-inner1-1.png">5000円~10000円</div>
						</a>
					</li>
					<li>
						<a href="">
						<div class="megamenu-inner-text"><img src="https://techmemo.biz/demo/megamenu/images/megamenu-inner1-1.png">10000円</div>
						</a>
					</li>
				</ul><!-- .megamenu-inner -->
				</div><!-- .megamenu -->
				</li>
				<li>
				<a href="">コレクション</a>
				<div class="megamenu">
				<ul class="megamenu-inner main-wrapper">
					<li>
						<a href="/products/feature/1">
						<div class="megamenu-inner-text"><img src="https://casie.jp/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMThUQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a7ee42a32dbffc15c8bbddd3c7eab29724aba408/2022%E5%B9%B4%E7%A7%8B%E3%82%B3%E3%83%B3%E3%83%86%E3%82%B9%E3%83%88%20(1).jpg" alt="">ストリートアート</div>
						</a>
					</li>
					<li>
						<a href="/products/feature/2">
						<div class="megamenu-inner-text"><img src="https://casie.jp/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMThUQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a7ee42a32dbffc15c8bbddd3c7eab29724aba408/2022%E5%B9%B4%E7%A7%8B%E3%82%B3%E3%83%B3%E3%83%86%E3%82%B9%E3%83%88%20(1).jpg" alt="">風景</div>
						</a>
					</li>
					<li>
						<a href="/products/feature/3">
						<div class="megamenu-inner-text"><img src="https://casie.jp/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMThUQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a7ee42a32dbffc15c8bbddd3c7eab29724aba408/2022%E5%B9%B4%E7%A7%8B%E3%82%B3%E3%83%B3%E3%83%86%E3%82%B9%E3%83%88%20(1).jpg" alt="">ポートレート</div>
						</a>
					</li>
					<li>
						<a href="/products/feature/4">
						<div class="megamenu-inner-text"><img src="https://casie.jp/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMThUQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a7ee42a32dbffc15c8bbddd3c7eab29724aba408/2022%E5%B9%B4%E7%A7%8B%E3%82%B3%E3%83%B3%E3%83%86%E3%82%B9%E3%83%88%20(1).jpg" alt="">日常</div>
						</a>
					</li>
					<li>
						<a href="/products/feature/5">
						<div class="megamenu-inner-text"><img src="https://casie.jp/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMThUQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a7ee42a32dbffc15c8bbddd3c7eab29724aba408/2022%E5%B9%B4%E7%A7%8B%E3%82%B3%E3%83%B3%E3%83%86%E3%82%B9%E3%83%88%20(1).jpg" alt="">動物</div>
						</a>
					</li>
					<li>
						<a href="/products/feature/6">
						<div class="megamenu-inner-text"><img src="https://casie.jp/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMThUQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a7ee42a32dbffc15c8bbddd3c7eab29724aba408/2022%E5%B9%B4%E7%A7%8B%E3%82%B3%E3%83%B3%E3%83%86%E3%82%B9%E3%83%88%20(1).jpg" alt="">ファンタジー</div>
						</a>
					</li>
					<li>
						<a href="/products/feature/7">
						<div class="megamenu-inner-text"><img src="https://casie.jp/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMThUQVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a7ee42a32dbffc15c8bbddd3c7eab29724aba408/2022%E5%B9%B4%E7%A7%8B%E3%82%B3%E3%83%B3%E3%83%86%E3%82%B9%E3%83%88%20(1).jpg" alt="">ポップアート</div>
						</a>
					</li>
				</ul><!-- .megamenu-inner -->
				</div><!-- .megamenu --></li>
				<li><a href="/artists">アーティスト</a></li>
			</ul>
        </div>
    </div>
    <div class="ec-headerNaviRole__right">
        <div class="ec-headerNaviRole__nav">
            {{ include('Block/login.twig') }}
        </div>
        <div class="ec-headerRole__cart">
            {{ include('Block/cart.twig') }}
        </div>
    </div>
</div>
